<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="post-show">
                <h1><%= post.name %></h1>
                <img class="img-responsive" src="<%= post.image %>">
                <p><em>Written by <%= post.author.username %></em></p>
                <a class="btn btn-warning pull-left" href="/post/<%= post._id %>/edit">Edit</a>
                <form action="/post/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger pull-left">Delete</button>
                </form>
                <br><hr>
                <p><%= post.content %></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="text-right">
        <p><a class="btn btn-success" href="/post/<%= post._id %>/comments/new">Add Comment</a></p>
    </div>
    <h2>Comments</h2>
    <% post.comments.forEach(function(comment){  %>
    <div class="comment">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p>
                            <strong><%= comment.author.username %></strong>
                        </p>
                    </div>
                    <div class="panel-body">
                        <p>
                            <%= comment.text %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</div>

<% include ../partials/footer %>