<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="post-show">
                <h1><%= post.name %></h1>
                <img class="img-responsive" src="<%= post.image %>">
                <hr>
                <p><%= post.content %></p>
            </div>
        </div>
    </div>
    <div class="text-right">
        <p><a class="btn btn-success" href="/post/<%= post._id %>/comments/new">Add Comment</a></p>
    </div>
    <hr>
    <% post.comments.forEach(function(comment){  %>
    <div class="comment">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <strong><%= comment.author %></strong>
                </p>
                    <%= comment.text %>
            </div>
        </div>
    </div>
    <% }); %>
</div>

<% include ../partials/footer %>